.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 20px 0;
    background-color: rgba(255, 255, 255, 0.18);
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border-top: 1px solid rgb(105, 105, 105);
}

.footer-text {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
    margin-top: 10px;
}

.footer-text .fa-palette {
    color: #ff6600;
}

.footer-year {
    margin: 0;
    margin-top: 5px;
    font-size: 14px;
    color: #ffffff;
}

.navbar-logo {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.logo-white {
    color: #ffffff;
    font-weight: bold;
}

.logo-orange {
    color: #ff6600;
    font-weight: bold;
}