#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgb(0, 0, 0); /* Fondo oscuro */
}

/* Aplica estilos a la barra de desplazamiento en general */
::-webkit-scrollbar {
    width: 12px;              /* Ancho de la barra de desplazamiento */
    height: 12px;             /* Alto de la barra de desplazamiento (para scroll horizontal) */
}

/* Track transparente */
::-webkit-scrollbar-track {
    background: rgb(0, 0, 0); 
    border-left: 1px solid rgb(105, 105, 105); 
}

/* Color del thumb (la parte que se arrastra) */
::-webkit-scrollbar-thumb {
    background-color: #ff7e29; /* Color del thumb */
}
