.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999; /* Asegura que esté en un nivel alto */
    display: flex; /* Flexbox para centrar el contenido */
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s;
    backdrop-filter: blur(5px); 
}

.modal-content {
    background: rgb(97, 97, 97);
    padding: 0px 20px 20px 20px;
    border-radius: 20px;
    width: 60vw !important;
    max-width: 90vw; /* Ajuste para que no exceda el viewport en pantallas pequeñas */
    max-height: 90vh; /* Asegura que no exceda la altura del viewport */
    box-sizing: border-box;
    animation: grow 0.5s forwards;
    overflow: auto;
    z-index: 10000;
    color: #e6e6e6;
}

.modal-title {
    margin: 0 auto;
    font-family: "DM Serif Display", serif;
    font-size: 4rem;
    text-align: center;
    font-weight: 600;
    color: #ff6600;
    padding-left: 5rem;
}

.modalito{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

/* Ajustes para los elementos dentro del modal */
.modal-proyect-caracteristi {
    flex: 3; /* Aumenta el tamaño de este contenedor */
    padding: 0 2rem 0 1rem; /* Espacio entre ambos contenedores */
}

.modal-proyect-details {
    flex: 1; /* Ocupa menos espacio en comparación con el contenedor izquierdo */
}

.modal-proyect-details {
    display: flex; /* Para que su contenido interno también use flexbox si es necesario */
    flex-direction: column; /* Para que los títulos y párrafos se alineen verticalmente */
    padding: 1.5rem;
}

.modal-proyect-details {
    background-color: rgb(10, 10, 10);
    border-radius: 20px;
    border: 1px solid rgb(202, 202, 202);
    color: white;
}

.modal-proyect-details h5{
    color: #ff6600;
    font-weight: bold;
    margin-top: 1rem;
}

.modal-proyect-details p{
    margin: 0;
    font-weight: bold;
}

.close-button {
    background: linear-gradient(to right, #ff7e29, #ff2600);
    border-radius: 30px;
    padding: 8px 20px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    font-weight: 600;
    display: flex;
    align-self: center;
    transition: background-color 0.3s ease;
}

.close-button:hover {
    background-color: black; /* Un tono más oscuro al pasar el mouse */
    color: black;
    box-shadow: 0 0 15px rgba(255, 126, 41, 2); /* Sombra blanca */
}

.modal-image {
    width: 100%;
    height: auto;
    border-radius: 15px;
    border: 25px solid rgb(0, 0, 0);
}

.modal-description {
    margin-top: 20px;
    /* Espacio entre la imagen y la descripción */
}

.project-details {
    margin-top: 20px;
    /* Espacio entre funcionalidades y detalles del proyecto */
}

.info-button {
    background: none;
    color: #ff6600;
    border: none;
    /* Sin borde */
    text-decoration: none;
    font-size: 2rem;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;
}

.info-button:hover {
    transform: scale(1.12);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes grow {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.skills-list {
    list-style-type: none; /* Elimina las viñetas de la lista */
    padding: 0; /* Elimina el padding por defecto */
    margin: 0; /* Elimina el margen por defecto */
}

.skills-list li {
    margin-bottom: 5px; /* Espacio entre las habilidades */
    font-size: 16px; /* Tamaño de fuente */
}

.modal-propi1{
    border-bottom: 2px solid #ff6600;
    padding-bottom: 1rem;
    font-weight: bold;
}

.modal-til{
    margin-bottom: 2rem;
    font-family: "DM Serif Display", serif;
    font-weight: 600;
    text-align: center;
    color: #ff6600;
}

.modal-proyect-caracteristi h2 {
    font-weight: bold;
    font-family: "DM Serif Display", serif;
    color: #ff6600;
}

.modal-separador {
    display: flex;
    align-items: center; /* Alinea el título y el botón verticalmente en el centro */
    justify-content: space-between; /* Coloca el título a la izquierda y el botón a la derecha */
    width: 100%;
}