/* Estilos base para la navbar */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .7rem 2rem;
    position: fixed;
    width: 100%;
    top: 0;
    transition: background-color 0.3s ease;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.18); /* Fondo inicial transparente */
    color: white; /* Color inicial de texto */
    border-bottom: 1px solid rgb(105, 105, 105);
    animation: slideIn 1s ease forwards;
}

@keyframes slideIn {
    0% {
        transform: translateX(-10%) scale(0.9); /* Empieza fuera de la pantalla a la izquierda y más pequeño */
        opacity: 0; /* Totalmente transparente */
    }
    100% {
        transform: translateX(0) scale(1); /* Termina en su posición original y tamaño normal */
        opacity: 1; /* Totalmente visible */
    }
}

/* Clase para el fondo cuando la navbar se vuelve fija */
.navbar-scrolled {
    background: linear-gradient(to right, #ff7e29, #ff2600); /* Naranja vibrante */
}

/* Logo y estilos de enlace */
.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-logo a {
    text-decoration: none;
}

.logo-white {
    color: white;
}

.logo-orange {
    background: linear-gradient(to right, #ff7e29, #ff2600);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Nueva clase para el logo negro */
.logo-black {
    color: black; /* Cambia a negro cuando se hace scroll */
}

/* Estilo de los enlaces */
.navbar-links {
    display: flex;
    gap: 2rem;
}

.navbar-links a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition: color 0.2s ease, border-bottom 0.2s ease;
    font-size: 15px;
    position: relative; /* Necesario para posicionar el borde */
    box-sizing: border-box;/* Añade un poco de espacio para el borde */
    border-bottom: 0.3rem solid transparent; 
    cursor: pointer;
}

/* Color de los enlaces al pasar el mouse por encima */
.navbar-links a:hover {
    color: #ff6600; /* Naranja brillante al pasar el mouse */
    border-bottom: 0.3rem solid #ff6600; /* Cambiar el color del borde en hover */
}

.navbar-links a.active {
    color: black; /* Color cuando está activo */
    border-bottom: 0.3rem solid black; /* Mantiene el borde activo */
}

/* Color de hover para los enlaces cuando el navbar está en scroll */
.navbar-scrolled .navbar-links a:hover {
    color: black; /* Negro al pasar el mouse */
    border-bottom: .3rem solid #000000;
}
