/* Proyectos.css */
.proyectos-contain{
  margin-top: 5rem;
}

.proyectos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  padding-bottom: 8rem;
}

.proyectos-title {
  font-size: 4rem;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
  animation: slideIn 0.5s ease; /* Animación de entrada */
  font-family: "DM Serif Display", serif;
}

/* Animación de entrada */
@keyframes slideIn {
  from {
      transform: translateY(-20px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}
