/* Contenedor principal */
.skills-container {
    padding: 6rem 0 0 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Contenedor de las columnas izquierda y derecha */
.skills-content {
    display: flex;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0.18);
    padding: 1.5rem;
    border-radius: 20px;
    border: 1px solid rgb(105, 105, 105);
}

/* Columna izquierda (Skills) */
.skills-left-column {
    flex: 4; /* Asignar más ancho a la columna de habilidades */
    padding: 1rem 0;
}

/* Columna derecha (Imagen y Descripción) */
.skills-right-column {
    flex: 3; /* Reducir el ancho de la columna derecha */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.18);
    border-radius: 20px;
    border: 1px solid rgb(105, 105, 105);
}

/* Título de skills */
.skills-title {
    font-size: 3rem;
    margin-bottom: 4rem;
    font-family: "DM Serif Display", serif;
    color: white;
    border-bottom: .4rem solid #ff6600;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Icono de herramientas */
.skills-icon {
    color: #ff6600;
    margin-right: 10px;
    font-size: 3rem;
}

/* Contenedor de los elementos de skills */
.skill-cont-table {
    background-color: rgba(255, 255, 255, 0.18);
    max-width: 775px;
    padding: 1.5rem;
    border-radius: 20px;
    border: 1px solid rgb(105, 105, 105);
}

/* Tabla de skills */
.skills-table {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

/* Elementos individuales de skill */
.skill-item {
    border: 1px solid white;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    height: 150px;
    width: 120px;
    position: relative;
    overflow: hidden;
}

.skills-table img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Texto de cada habilidad */
.skill-text {
    display: block;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: bottom 0.5s ease, opacity 0.5s ease;
    font-weight: bold;
    background: black;
    color: white;
    padding: 10% 50%;
    margin-bottom: 10%;
}

/* Mostrar texto al pasar el mouse */
.skill-item:hover .skill-text {
    bottom: 10px;
    opacity: 1;
}

/* Imagen de la columna derecha */
.responsive-image {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

/* Descripción de habilidades */
.skills-description {
    font-size: 1rem;
    color: white;
    text-align: center;
    margin: 0;
    font-weight: 600;
}

/* Animación de fade-in desde abajo para los elementos */
.fade-in {
    opacity: 0;
    transform: translateY(80px);
    transition: opacity 1s ease, transform 0.6s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Animación de fade-in desde la derecha para la imagen */
.fade-in-image {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 2s ease, transform 2s ease;
}

.fade-in-image.visible {
    opacity: 1;
    transform: translateX(0);
}

/* Animación de fade-in desde la derecha para el párrafo */
.fade-in-paragraph {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 2s ease, transform 2s ease;
}

.fade-in-paragraph.visible {
    opacity: 1;
    transform: translateX(0);
}
